.container {
  margin: 50px 100px;
}

.card {
  margin: 0 2% !important;
}

.infected {
  background-color: rgba(102, 179, 255, 0.5) !important;
  
}

.recovered {
  background-color: rgba(191, 242, 202, 0.5) !important;
 
}

.deaths {
  background-color: rgba(237, 178, 178, 0.5) !important;
  
}

.active {
  background-color: rgba(237, 199, 152, 0.5) !important;
 
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
